@import '../../index.scss';

.stats-header-label {
  font-weight: bold;
}


.statlist {
 display: flex;
 flex-direction: row;
 margin: 4px;

  .stat-row {
    display: flex;
    flex-direction: row;
    padding: 4px;
    
    .stat-name {
      font-weight: bold;

    }
    
    .stat-value {
      color: purple;
    }
  }
}