@import '../../index.scss';

.topmenu-appbar {
  background-color: $primary !important;
  color: black !important;
  display: flex;
  margin-bottom: 10px;

  .xp-div {
    position: relative;
    height: 20px;
    border: 2px solid $tertiary;
    border-radius: 6px;
    margin: 1px 0;

    .xp-bar {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      height: 20px;
    }

    .xp-text {
      position: absolute;
      top: 0;
      right: 4px;
      font-weight: bold;
      color: black;
    }
  }

  .stamina-div {
    position: relative;
    height: 20px;
    border: 2px solid $tertiary;
    border-radius: 6px;
    margin: 1px 0;

    .stamina-bar {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      height: 20px;
    }
    
    .stamina-text {
      position: absolute;
      top: 0;
      right: 4px;
      font-weight: bold;
      color: white;
    }
  }
}
